<%- include("partials/header2"); -%>

    <h3 class="conh3">Code is sent to </h3>
    <h3><%=username%></h3>
    <form action="/forgotPassword" method="post">
        <div class="condiv">
            <input type="text" name="otp" placeholder="Enter OTP">
        </div>
        <input type="hidden" name="pageCheck" value="1">
        <input type="hidden" name="username" value="<%= username %>">
        <button type="submit" class="w-100 btn btn-lg btn-primary">Verify and Change Password</button>
        <p style="margin-top: 20px; color: red;"><%=message%></p>
    </form>

<%- include("partials/footer2"); -%>